#container {
  height: 6.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
}

.button-container {
  box-shadow: 0 2px 20px #E2C044;
  margin: 1.6rem;
}

.button {
  /* width: 60%; */
  padding: 20px 25px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: var(--primary-text);
  background-color: var(--primary);
  border: none;
  border-radius: 15px;
}

.button:hover {
  background-color: var(--admin-button);
}

.button:active {
  background-color: var(--admin-button);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.responsive {
  width: 70%;
  height: auto;
}

.image-div {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}

/* @media (min-width: 800px) {
  .button {
    width: 40%;
  }
} */
