:root {
  --primary: #0b090a;
  --primary-text: #F4FFFD;
  --secondary: #E2C044;
  --secondary-text: #ffffff;
  --accent: #0b090a;
  --accent-text: #d9d9d9;
  --admin-button: #c9184a;
  --danger : #eb4034;
}
